/* Add your CSS styles here */
body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Added transform for scale effect */
}

header:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Scale up the header on hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
    background-image: linear-gradient(to bottom, #007bff, #0056b3); /* Add gradient background */
}
img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}


h1 {
    margin: 0;
}
section{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
section:hover{
    box-shadow: 10px 12px 14px rgba(0, 0, 0, 0.1);
}
.intro, .team {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

.team-member {
    text-align: center;
    margin-top: 20px;
}

img {
    border-radius: 50%;
    max-width: 150px;
    margin: 0 auto;
}

p {
    line-height: 1.6;
}
